.header-container {
    display: flex;
    justify-content: center;
}

.image-logo {
    max-width: 300px;
    width: 100%;
}


@media screen and (min-width: 64rem) {
    .image-logo {
        max-width: 534px
    }
}